body {
    font-family: 'League Spartan', sans-serif; 
    background-color: #e6e0d5;
    color: #000000;
    
}

.card {
    border-radius: 1rem; 
    border-color: black;
}

input[type="text"] {
    border-color: black;
}

input[type="password"] {
    border-color: black;
}

input[type="email"] {
    border-color: black;
}

input[type="tel"] {
    border-color: black;
}

.contact-card:hover {
    border-color: #0d6efd;
}

.card { 
    background-color: #ffffff; 
}